body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #b2b8ba;
}
header{
    background: linear-gradient(0.50turn, #b2b8ba, #b2b8ba, #ebf8e1);    
    /* border: 2px solid black; */
    box-shadow:  0 3px 20px 1px rgb(0, 0, 0, 0.3), 0px 3px 20px 1px rgb(0, 0, 0, 0.3);
}

h2:hover{
    cursor: pointer;
    color: rgb(215, 250, 246);
    text-shadow: 2px 2px 5px black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0px 50px;
    /* gap: 25%; */
}
nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 18px;
    cursor: pointer;
}
.search{
    display: flex;
    /* background-color: blue; */
    border-radius: 30px;
    box-shadow: 0 3px 20px 1px rgb(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}
.search-txt{
    float: left;
    background: none;
    border: none; 
    outline: none;
    padding: 10px;
    /* border-radius: 30px; */
    width: 200px;
    height: 20px;
    font-size: 16px;
}
.Search-btn{
    font-size: 0;
    border: none; 
    color: white;
    background-color: #445339;
    border-radius: 50px;
    margin: 0px 4px;
    /* float: right; */
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
main.cards{
    /* border: 5px solid red; */
    margin: 40px 20px;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 40px;
    
}
.card{
    color: rgb(0, 0, 0);
    cursor: pointer;
    background-color: rgb(202, 216, 216);
    padding: 0 15px;
    width: 280px;
    height: 420px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgb(57, 53, 53, 0.3)
}
.cards div a{
    text-decoration: none;
    color: #000;
}
.image{
    margin: 10px auto;
    border-radius: 15px;
    border: 2px solid yellow;
    width: 280px;
    height: 200px;
}
.card a h3{
    margin: 10px 0;
    font-size: 18px;
    max-height: 4.5em; /* Adjust as needed */
    line-height: 1.5em; /* This should match your line height */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.card div{
    margin: -15px 0px;
    padding: 8px 0px;
}
.card p{
    text-decoration: none !important;
    color: black;
    margin: 8px 0;
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
}
li.btn:hover{
    color: rgb(215, 250, 246);
    text-shadow: 2px 2px 5px black;

}